.formInput {
  position: relative;
  display: flex;
  flex-direction: column;
  label {
    margin-top: 15px;
    margin-left: 15px;
  }

  input {
    position: relative;
    padding: 10px 15px;
    outline: none;
    border-radius: 24px;
    font-size: 14px;
    margin: 5px 0 10px 0;
    background-color: #b8c1ec;
    border: 1px solid #232946;
  }
}
