.defaultButton {
  appearance: none;
  outline: none;
  border: none;
  width: 200px;
  padding: 15px 10px;
  border-radius: 6px;
  text-transform: uppercase;
  border: 1px solid #eebbc3;
  color: #232946;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #eebbc3;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: 7px 7px (#eebbc3, 5%), -7px -7px darken(#eebbc3, 10%);
    color: #232946;
    background-color: #eebbc3;
    cursor: pointer;
    transform: translateY(-2px);
  }
}
